In [9]:
from main import *

In [10]:
league_name = 'rbsc'  #'rpk', 'ifc', 'rbsc'
league_id = get_league_id(league_name)

# Pre match
- captain
- transfers
- selected by %

In [3]:
players = pd.read_csv('data/player_idlist.csv')

In [4]:
players.loc[players.second_name == 'Haaland']

    first_name second_name   id
450     Erling     Haaland  355

In [11]:
picks = get_gw_picks(league_id, gw_no)

In [12]:
picks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   element          225 non-null    int64
 1   position         225 non-null    int64
 2   multiplier       225 non-null    int64
 3   is_captain       225 non-null    bool
 4   is_vice_captain  225 non-null    bool
 5   manager_id       225 non-null    int64
dtypes: bool(2), int64(4)
memory usage: 7.6 KB

In [13]:
picks

     element  position  multiplier  is_captain  is_vice_captain  manager_id
0        524         1           1       False            False     5062593
1        407         2           1       False            False     5062593
2         36         3           1       False            False     5062593
3        178         4           1       False            False     5062593
4        308         5           2        True            False     5062593
..       ...       ...         ...         ...              ...         ...
220      433        11           1       False            False     7436807
221      275        12           0       False            False     7436807
222       14        13           0       False            False     7436807
223      341        14           0       False            False     7436807
224      139        15           0       False            False     7436807

[225 rows x 6 columns]

In [14]:
picks.loc[picks.element == 355]

     element  position  multiplier  is_captain  is_vice_captain  manager_id
8        355         9           1       False            False     5062593
23       355         9           1       False            False     7078068
39       355        10           1       False             True     1189749
54       355        10           1       False            False      198741
69       355        10           1       False            False     6810096
85       355        11           1       False            False       68915
99       355        10           1       False            False     3668145
114      355        10           1       False             True      150903
129      355        10           1       False            False     2885660
145      355        11           1       False            False     3531461
159      355        10           2        True            False     7513640
190      355        11           1       False            False     7016085
204      355        10           1       False            False     4439385
218      355         9           1       False            False     7436807

## captains

In [6]:
captains = picks.loc[picks.is_captain == True, ['element', 'is_captain']].groupby('element').sum().reset_index()

In [7]:
captains.rename(columns={'is_captain': 'captained_by'}, inplace=True)

In [8]:
captains = captains.merge(players, left_on='element', right_on='id')

In [9]:
print('    Captain Picks')
captains.loc[:, ['first_name', 'second_name', 'captained_by']].sort_values(by='captained_by', ascending=False)

    Captain Picks

  first_name second_name  captained_by
1    Mohamed       Salah             9
3      James    Maddison             2
0     Bukayo        Saka             1
2     Erling     Haaland             1
4        Son   Heung-min             1
5      Pedro  Lomba Neto             1

## picks

In [43]:
picks_count = picks.loc[picks.multiplier != 0, ['element']].value_counts().reset_index()

In [44]:
picks_count.rename(columns={0: 'selected_by'}, inplace=True)

In [45]:
picks_count = picks_count.merge(players, left_on='element', right_on='id')

In [46]:
print('    Top 10 Picks')
picks_count.loc[:, ['first_name', 'second_name', 'selected_by']].sort_values(by='selected_by', ascending = False).head(10)

    Top 10 Picks

  first_name second_name  selected_by
0     Erling     Haaland           14
1    Mohamed       Salah           11
2   Alphonse      Areola            9
3      James    Maddison            9
4      Ollie     Watkins            8
5        Son   Heung-min            8
6     Kieran    Trippier            8
7      Kaoru      Mitoma            8
8        Dan        Burn            8
9     Bukayo        Saka            7

## transfers

# Post match

In [15]:
get_gw_weekly_pnl(get_gw_points(league_id, 37), league_name)

,manager_id,team_name,name,gw_no,points,transfers_cost,h2h_points,rank,pnl
14,1876984,ikuko s,Sutthapa Soonthornthum,37,143,0,143,1,500
50,5038006,LB,theerapat phuaphanthong,37,142,0,142,2,0
8,1959443,PT United,Pravi Techasith,37,141,0,141,3,0
0,3314316,Earth Wind Maguire,Kevin V,37,143,4,139,4,0
9,219489,Mamoon FC,Natchanont Kraitrakul,37,137,0,137,5,0
18,4510765,CM7 United F.C.,Chayut Morakotkarn,37,132,0,132,6,0
10,892564,Mason Mao,New Poshyananda,37,132,0,132,6,0
28,1140393,Confucianism,James Rama,37,131,0,131,7,0
36,4943821,3NA,Ekapan Ake,37,139,8,131,7,0
4,47771,Maestro Madders,Pannawit M,37,129,0,129,8,0
2,3829549,Chuan United,Chuan Krub,37,133,4,129,8,0
3,2911314,69 United,BooM Suriyabhivadh,37,132,4,128,9,0
39,3824977,peep,Peep Chutrakul,37,128,0,128,9,0
31,4615639,gampgampFC,Gampanath Udomsorayuth,37,127,0,127,10,0
29,4949999,Guitar29,Guitar Raktakanit,37,134,8,126,11,0
30,499193,Pun FC,Samote Viranuvatti,37,138,12,126,11,0
26,4560030,Thonglor FC,Pote V,37,125,0,125,12,0
25,7026712,Pow,Pow …..,37,124,0,124,13,0
20,4417922,Songkram fc,songkram chaimongkol,37,128,4,124,13,0
5,4794307,Akin FC,Akin Suriyabhivadh,37,127,4,123,14,0
1,4513029,Booyaka booyaka,Pum Lamsam,37,126,4,122,15,0
6,198741,-ngteam-,Tawiwut Charuwat,37,125,4,121,16,0
21,4974013,TCFC,sermwong tcfc,37,121,0,121,16,0
24,5376988,Darkhorse FC,Tae Uahwatanasakul,37,127,8,119,17,0
19,4939915,Z,Nopnarit Lieopanich,37,119,0,119,17,0
15,6828087,Mcfred,Arnon Porndhiti,37,127,8,119,17,0
11,3091841,Smith & Samon,Smith Mekaroonkamol,37,119,0,119,17,0
34,2562304,Tone's Squad,Tone Na Ranong,37,121,4,117,18,0
7,3637866,Jamie Karaage,Gem Asawachatroj,37,121,4,117,18,0
22,5112644,sam,samatcha promsiri,37,117,0,117,18,0
38,4941873,Cyklopp FC,Nab Thavisin,37,117,0,117,18,0
35,4479607,Gerrard,Richie Boy,37,114,0,114,19,0
12,3901821,ayebypass,Ayudh phonghanyudh,37,110,0,110,20,0
17,4939437,hoever all de gea,gub nasongkhla,37,113,4,109,21,0
16,2139873,NT,Nick Thanapoomikul,37,109,0,109,21,0
40,4324841,Next Stadium FC,Tor Na Ranong,37,109,0,109,21,0
46,2032549,Fame’s Squad,Pimadej Siwapornpitak,37,106,0,106,22,0
13,2255883,BadBear,Nile Buranasiri,37,114,8,106,22,0
37,6548382,Ted in the Box,Teddy T,37,104,0,104,23,0
27,919250,Customsanova FC,Wanwiwat Thongproh,37,103,0,103,24,0
32,1181398,Palm S.,Palm S.,37,106,4,102,25,0
41,6193907,lemon,Lemon Sornsin,37,106,4,102,25,0
23,4327750,KAISER_TAHN XI,Sira H,37,102,0,102,25,0
53,4957268,Gapfrappe,Nopphanan Vannapanich,37,100,0,100,26,0
42,940495,Team 14,Fung Niamkongkit,37,98,0,98,27,0
44,695415,Traiii,Kitti Traii,37,102,4,98,27,0
47,6882480,SARIF,Sarif Sainui,37,96,0,96,28,0
45,4106422,Timmy_ac,Sirichai Jirapongphan,37,95,0,95,29,0
48,5370985,A Cunha Mateta,Save Boonsoong,37,103,8,95,29,0
51,3202544,SNAPIN,Napin Surakkhaka,37,94,0,94,30,0
43,6330656,PIYAWIT,Piyawit TAC,37,92,0,92,31,0
33,3631350,Garincha,Garin Settachan,37,87,4,83,32,0
49,7644338,Little Team,เซอร์ สมเติ้ล นะจ๊ะ,37,78,0,78,33,0
52,6827721,Cobbra FC,Cobby Leathers,37,83,8,75,34,0
54,6842690,paroche,Paroche Hutachareon,37,72,0,72,35,-500

# End of season

In [16]:
df = pd.read_csv('./data/rbsc/fact_gw_rbsc.csv')
for gw_no in range(37,38+1):
    df = pd.concat([df, get_gw_weekly_pnl(get_gw_points(league_id, gw_no), league_name)], ignore_index=True)
    gw_no += 1

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090 entries, 0 to 2089
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   manager_id      2090 non-null   int64
 1   team_name       2090 non-null   object
 2   name            2090 non-null   object
 3   gw_no           2090 non-null   int64
 4   points          2090 non-null   int64
 5   transfers_cost  2090 non-null   int64
 6   h2h_points      2090 non-null   int64
 7   rank            2090 non-null   int64
 8   pnl             2090 non-null   int64
dtypes: int64(7), object(2)
memory usage: 147.1+ KB

In [18]:
write_gw(df, 'rbsc')

DataFrame successfully saved to data/rbsc/fact_gw_rbsc.csv

0       167
1       167
2       167
3         0
4         0
       ...
2085      0
2086      0
2087      0
2088      0
2089   -500
Name: pnl, Length: 2090, dtype: int64